<!-- <nz-layout>
  <nz-content>
    <div class="mt-5 mb-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="text-center">
              <a href="/">
                <span><img src="assets/images/logo.png" alt=""></span>
              </a>
              <h3 class="mt-4 mb-3">{{appName}}</h3>
            </div>
            <div class="card">
              <div class="card-body p-4">
                <form nz-form [formGroup]="loginForm" nzLayout="vertical" (submit)="submitForm()">
                  <nz-form-item>
                    <nz-form-label class="p-0">Kullanıcı Adı</nz-form-label>
                    <nz-form-control nzErrorTip="Kullanıcı adı zorunludur">
                      <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" placeholder="Kullanıcı adı giriniz..." />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzErrorTip="Şifre zorunludur">
                      <nz-form-label class="p-0">Şifre</nz-form-label>
                      <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Şifre giriniz..." />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <button nz-button class="btn-block mt-3" nzType="primary" [disabled]="loginForm.invalid" >Giriş Yap</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout> -->