<a style="height:64px; display:inline-block">
<p-avatar label="P" shape="circle"></p-avatar>
<span class="ml-2">{{user?.name}}</span>
</a>

<!-- <nz-dropdown-menu #menu="nzDropdownMenu">
<ul nz-menu nzSelectable>
    <li nz-menu-item>
        <i aria-hidden="true" nz-icon nzType="user-switch"></i>
        Menü 1</li>
    <li nz-menu-item>
        <i aria-hidden="true" nz-icon nzType="heart"></i>
        Menü 2</li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="logout()">
        <i aria-hidden="true" nz-icon nzType="logout"></i>
        Çıkış Yap
    </li>
</ul>
</nz-dropdown-menu> -->
